@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');
* {
    font-family: 'Rowdies', cursive;
}

.custom-shape-divider-bottom-1673393041 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1673393041 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1673393041 .shape-fill {
    fill: #ff5c5c;
}